:host {
    overflow: hidden;
    position: relative;
}

.labels {
    position: absolute;
    z-index: 999;

    cursor: default;
    color: #999;
    font-size: 12px;

    pointer-events: none;
}

#hlabels {
    bottom: 5px;
    left: 0px;
}

#hlabels .label {
    position: absolute;
    /* transform: translateX(5px); */
}

#vlabels {
    top: 0px;
    left: 5px;
    /* -webkit-writing-mode: vertical-rl; */
    /* -webkit-text-orientation: upright; */
}

#vlabels .label {
    position: absolute;
    /* transform: translateY(-100%) translateY(-2px); */
}

.debug-info {
    position: absolute;
    z-index: 999;

    top: 10px;
    right: 10px;
    padding: 5px 15px;

    border: 1px solid #999;
    background: rgba( 0, 0, 0, 0.2 );

    pointer-events: none;
}
